In [3]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Load the sheets into separate DataFrames
bp_data = pd.read_excel('cw1 individual -dataset.xlsx', sheet_name='Raised Blood Pressure')
bmi_data = pd.read_excel('cw1 individual -dataset.xlsx', sheet_name='BMI')
diabetes_data = pd.read_excel('cw1 individual -dataset.xlsx', sheet_name='Diabetes')

In [5]:
# Rename the prevalence columns to avoid conflicts
bmi_data = bmi_data.rename(columns={'Prevalence of BMI ≥ 30 kg/m²': 'BMI'})
bp_data = bp_data.rename(columns={'Prevalence of raised blood pressure': 'BP'})
diabetes_data = diabetes_data.rename(columns={'Age-standardised diabetes prevalence': 'Diabetes'})

# Merge the DataFrames on Country, Year, and Sex
combined_data = pd.merge(bmi_data, bp_data, on=['Country/Region/World', 'Year', 'Sex'], how='outer')
combined_data = pd.merge(combined_data, diabetes_data, on=['Country/Region/World', 'Year', 'Sex'], how='outer')

# Save the combined data to a new CSV or Excel file
combined_data.to_csv('combined_data.csv', index=False)

In [6]:
combined_data_df = pd.read_csv('combined_data.csv')

In [7]:
print(combined_data_df.describe())

               Year  Prevalence of BMI>=30 kg/m≤ (obesity)            BP  \
count  16800.000000                           16800.000000  16400.000000
mean    1995.500000                               0.134722      0.278138
std       12.121279                               0.116279      0.058503
min     1975.000000                               0.000639      0.081839
25%     1985.000000                               0.039725      0.239363
50%     1995.500000                               0.111552      0.274918
75%     2006.000000                               0.195292      0.310600
max     2016.000000                               0.653208      0.505568

           Diabetes
count  14000.000000
mean       0.075125
std        0.042190
min        0.010075
25%        0.050328
50%        0.064552
75%        0.085271
max        0.328625

In [8]:
print(combined_data_df.head())

  Country/Region/World    Sex  Year  Prevalence of BMI>=30 kg/m≤ (obesity)  \
0          Afghanistan    Men  1975                               0.002078
1          Afghanistan  Women  1975                               0.008172
2          Afghanistan    Men  1976                               0.002237
3          Afghanistan  Women  1976                               0.008709
4          Afghanistan    Men  1977                               0.002410

         BP  Diabetes
0  0.251041       NaN
1  0.232129       NaN
2  0.252482       NaN
3  0.234490       NaN
4  0.254044       NaN

sns.countplot(y='Prevalence of BMI>=30 kg/m≤ (obesity)', data=combined_data_df)
plt.show()

sns.countplot(y='Prevalence of raised blood pressure', data=combined_data_df)
plt.show()

sns.countplot(x='Age-standardised diabetes prevalence ', data=combined_data_df)
plt.show()

In [10]:
print(combined_data_df.isna())

       Country/Region/World    Sex   Year  \
0                     False  False  False
1                     False  False  False
2                     False  False  False
3                     False  False  False
4                     False  False  False
...                     ...    ...    ...
16795                 False  False  False
16796                 False  False  False
16797                 False  False  False
16798                 False  False  False
16799                 False  False  False

       Prevalence of BMI>=30 kg/m≤ (obesity)     BP  Diabetes
0                                      False  False      True
1                                      False  False      True
2                                      False  False      True
3                                      False  False      True
4                                      False  False      True
...                                      ...    ...       ...
16795                                  False  False     False
16796                                  False  False      True
16797                                  False  False      True
16798                                  False   True      True
16799                                  False   True      True

[16800 rows x 6 columns]

In [12]:
combined_data_df = combined_data_df.dropna()  # Fill with 0

In [14]:
print(combined_data_df.isna())

       Country/Region/World    Sex   Year  \
10                    False  False  False
11                    False  False  False
12                    False  False  False
13                    False  False  False
14                    False  False  False
...                     ...    ...    ...
16791                 False  False  False
16792                 False  False  False
16793                 False  False  False
16794                 False  False  False
16795                 False  False  False

       Prevalence of BMI>=30 kg/m≤ (obesity)     BP  Diabetes
10                                     False  False     False
11                                     False  False     False
12                                     False  False     False
13                                     False  False     False
14                                     False  False     False
...                                      ...    ...       ...
16791                                  False  False     False
16792                                  False  False     False
16793                                  False  False     False
16794                                  False  False     False
16795                                  False  False     False

[14000 rows x 6 columns]